* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}
.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 128, 0, .25);
  padding: 10px 0;
}

.title-container {
  position: relative;
  width: 400px;
}

.title {
  text-align: center;
  margin-bottom: -24px;
  text-align: right;
  font-weight: 100;
}

.title::before {
  content: '\1F3C1';
  font-size: 40px;
  position: absolute;
  left: 0; top: 0;
  transform: rotate(-35deg);
}

.subtitle {
  text-align: right;
  text-transform: uppercase;
  position: relative;
  text-align: right;
  font-weight: 100;
  color: green;
  margin-bottom: 0;
}

.subtitle::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  width: 230px;
  border: 1px solid black;
  background-color: black;
}

.description {
  font-size: 16px;
  font-weight: 100;
  margin: 0;
  padding: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.button {
  font-size: 14px;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  width: 50%;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: rgb(0, 128, 0, .5);
  color: white;
  transition: ease-in-out .2s;
}

.button:hover {
  background-color: rgb(0, 128, 0);
  color: white;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.green {
  color: green;
}

.board {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 360px;
  margin: 0 20px;
}

.leaderboard-title {
  color: green;
  font-size: 20px;
  font-weight: 100;
  border-bottom: 2px solid green;
  margin-bottom: 0;
}

.time,
.previous-week {
  font-weight: 100;
  text-align: end;
  margin: 0 0 10px;
  border-bottom: 1px solid rgb(0, 0, 0, .1);
}

.table-item-leaderboard {
  border-bottom: 1px solid rgb(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  transition: ease-in-out .1s;
}

.table-item-leaderboard:hover {
  transform: scale(1.1);
  background-color: rgb(0, 128, 0, .1);
}

.table-item {
  border-bottom: 1px solid rgb(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.table-item:hover {
  background-color: rgb(0, 128, 0, .1);
}

.table-item-prize {
  color: green;
}

.table-item-span {
  color: grey;
  text-align: right;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 128, 0, .25);
  padding: 10px;
  margin-top: 20px;
}

.logo {
  width: 120px;
  margin: 10px;
}

.copyright {
  margin: 10px 20px;
  font-weight: 100;
}

.footer-list {
  margin: 10px;
  list-style: none;
  padding: 0;
}

.footer-item {
  display: inline;
  margin: 5px;
}

.footer-item a {
  color: black;
}

.information {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: -200vh; bottom: 0; left: 0; right: 0;
  margin: auto;
  z-index: -50;
  width: 390px;
  height: 540px;
  color: black;
  background-color: white;
  border-radius: 20px;
  transition: ease-in-out .5s;
}

.info-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin: 10px;
}

.information a {
  color: green;
}

.info-registration,
.info-rules {
  font-weight: 100;
  padding: 20px;
}

.info-title {
  font-weight: 100;
}

.information.active {
  z-index: 50;
  top: 0;
}

.info-registration,
.info-rules {
  display: none;
  flex-direction: column;
  text-align: center;
}

.info-registration.visible,
.info-rules.visible {
  display: flex;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  transition: ease-in-out .4s ;
}

.shadow.active {
  z-index: 40;
  background: rgba(0, 0, 0, .5);
}

@media (max-width: 799px) {
  .footer {
    flex-direction: column;
  }
  .logo {
    margin: 0;
  }
  .title-container {
    width: 320px;
  }
  .title {
    font-size: 26px;
  }
  .subtitle {
    font-size: 22px;
  }
  .subtitle::before {
    top: 50%;
    left: -10px;
    width: 170px;
    border: 1px solid black;
    background-color: black;
  }
  .title::before {
    left: -5px;
    font-size: 36px;
  }
  .description {
    font-size: 12px;
  }
  .nav {
    width: 100%;
    flex-direction: row;
  }
  .button {
    font-size: 10px;
    width: auto;
    margin: 5px;
    padding: 5px;
  }
  .information {
    width: 320px;
    height: 400px;
    overflow-y: scroll;
    font-size: 14px;
  }
}